@media only screen and (max-width:635px) {

.wrapper {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 100%;
height: 100%;
}

.headerGrid { 
    grid-area: 1 / 1 / 2 / 3;
    position: relative;
    width: 100%;
	background-color: rgb(156, 214, 255);
}
.leftTopBox { grid-area: 2 / 1 / 3 / 2; 
    background-color: #220fff;
    padding: 0.75%;
	text-align: center;
	font-size: 5vw;
	overflow: hidden;
}
.leftBotBox { grid-area: 3 / 1 / 4 / 2; 
    background-color: #fff700;
    padding: 0.75%;
	text-align: center;
	font-size: 5vw;
	overflow: hidden;
}
.pictureBox { grid-area: 2 / 2 / 4 / 3;
    background-color: rgb(255, 199, 94);
    overflow: hidden;
}
.footerGrid { grid-area: 4 / 1 / 5 / 3;
    position: relative;
    background-color:  rgb(247, 255, 156);
    padding: 1%;
    font-size: 1.2vw;
    overflow: hidden;
}
.menuBox { grid-area: 5 / 1 / 7 / 3;
        display: grid;
}
#menu li a, #menu li span{
    display: inline-block;
    text-decoration: none;
	font-size: 2.4vw;
    font-weight: 600;
	text-shadow: 2px 2px 0px #000000;
    text-transform: uppercase;
    line-height: 500.25%;
	overflow: hidden;
    text-align: center;
}
.SlavaUkraini{
    position:absolute;
    display: grid;
    right: 5%;
    top: 5%;
	width: 15%;
	border-radius: 5px;
	padding-right: 5px;
	margin: 5px;
	text-align: right;
	-webkit-text-stroke-width: 0.25px;
		-webkit-text-stroke-color: rgb(255, 255, 255);
	background-image: -webkit-linear-gradient(0.4turn, #fff700,  #220fff);
	font-size: 4vw;
	overflow: hidden;
}
.HeroiamSlava{
    position:absolute;
    display: grid;
    left: 1%;
    top: 35%;
	width: 15.75%;
	border-radius: 5px;
	padding-right: 5px;
	margin: 5px;
	text-align: left;
	-webkit-text-stroke-width: 0.25px;
		-webkit-text-stroke-color: rgb(255, 255, 255);
	background-image: -webkit-linear-gradient(0.4turn, #fff700,  #220fff);
	font-size: 4vw;
	overflow: hidden;
}
.portrait{
    position:relative; 
    left:0%; 
    top:0%;
    width:100%;
    height:100%;
    /*push*/
}

.headerText{
    padding: 1%;
    padding-right: 23%;
	overflow: hidden;
    font-size: 2.4vw;
}
.footerText{
    padding: 1%;
	padding-left: 22%;
    font-size: 2.2vw;
    overflow: hidden;
}
}