html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: rgb(255, 199, 94);
    overflow: hidden;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .headerGrid {
    grid-area: 1 / 1 / 1 / 5;
	background-color: rgb(156, 214, 255);
    padding: 1%;
	padding-right: 22%;
	overflow: hidden;
    font-size: 1.4vw;
  }
  
  .footerGrid {
    position: relative;
    grid-area: 4 / 1 / 5 / 4;
    background-color:  rgb(247, 255, 156);
    padding: 1%;
	padding-left: 22%;
    font-size: 1.2vw;
    overflow: hidden;
  }
  .leftTopBox {
    grid-area: 2 / 1 / 3 / 2;
	background-color: #220fff;
    padding: 0.75%;
	text-align: center;
	font-size: 2vw;
	overflow: hidden;
  }
  .leftBotBox {
    grid-area: 3 / 1 / 4 / 2; 
	background-color: #fff700;
    padding: 0.75%;
	text-align: center;
	font-size: 2vw;
	overflow: hidden;
  }
  .pictureBox {
    grid-area: 2 / 2 / 4 / 4; 
    background-color: rgb(255, 199, 94);
    overflow: hidden;
  }
  .menuBox{
  display: grid;
  grid-area: 2 / 4 / 5 / 5;

        }
#menu{
            background-color: #0066ff;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        
#menu ul{
    width: 100%;
  text-align: center;
  float: right;
}
   
#menu li{
    width: 100%;
  display: grid;
  grid-area: 1/1/1/1;
}

#menu li a, #menu li span{
    display: inline-block;
    text-decoration: none;
	font-size: 1.2vw;
    font-weight: 600;
	text-shadow: 2px 2px 0px #000000;
    text-transform: uppercase;
    line-height: 500.25%;
	overflow: hidden;
}
     
#menu li a{
	color: #fff700;
}

.SlavaUkraini{
    position:fixed;
    display: grid;
    right: 5%;
    top: 5%;
	width: 15%;
	border-radius: 5px;
	padding-right: 5px;
	margin: 5px;
	text-align: right;
	-webkit-text-stroke-width: 0.25px;
		-webkit-text-stroke-color: rgb(255, 255, 255);
	background-image: -webkit-linear-gradient(0.4turn, #fff700,  #220fff);
	font-size: 1.97vw;
	overflow: hidden;
    align-self: right;
}
.HeroiamSlava{
    position:absolute;
    display: grid;
    left: 1%;
    top: 35%;
	width: 15.75%;
	border-radius: 5px;
	padding-right: 5px;
	margin: 5px;
	text-align: left;
	-webkit-text-stroke-width: 0.25px;
		-webkit-text-stroke-color: rgb(255, 255, 255);
	background-image: -webkit-linear-gradient(0.4turn, #fff700,  #220fff);
	font-size: 1.97vw;
	overflow: hidden;
    align-self: right;
}

.portrait{
    position:relative; 
    left:32.5%; 
    top:10%;
    width:34%;
    height:80%;
    /*push*/
}